// 輪播圖
.slider {
    @extend %transition;
    position: relative;
    overflow: hidden;

    @include mw_xs {
        padding-bottom: 70%;
    }

    // .slider__img
    &__img {
        @include d_f(flex, 0, 0);
        margin: auto;

        img {
            object-position: 25%;
        }

        @include mw_xs {
            @include pos_a(tbl, 0);
        }
    }

    // .slider__info
    &__info {
        li{
            @extend %title;
            @extend %txtshadow;
            @include pos_a(trbl, 0);
            @include d_f(flex, center, center);
            color: map-get($txt_color, secondary);
            margin: auto;
            opacity: 0;
            z-index: 2;
            transform: translate3d(0, 10%, 0);
            transition: .5s;

            &.--active{
                transform: translate3d(0, 0, 0);
                opacity: 1;
                transition: 1s;
            }
        }
    }
}



// 關於我們
.about {
    @include d_f(flex, center, space-between);
    flex-wrap: wrap;
    overflow: hidden;

    // .about__title
    &__title{
        @extend %title;
        margin-bottom: 32px;
    }

    // .about__img
    &__img {
        position: relative;
        width: calc(40% - 64px);
        height: 20vw;
        background: url(../images/img_about_pc.png) no-repeat right bottom / contain;

        @include mw_xs {
            width: 100%;
            height: 50vw;
            background-position: center bottom;
            margin-bottom: 64px;
        }

        span {
            display: block;
        }

        .pad {
            @include pos_a(br, -5%, -5%);
            width: 40%;

            @include mw_xs {
                bottom: -10%;
                right: 0;
            }
        }

        .ph {
            @include pos_a(rbl, 0, -10%, 0);
            width: 15%;
            margin: auto;

            @include mw_xs {
                left: 20%;
                right: auto;
            }
        }
    }

    // .about__txt
    &__txt {
        width: 60%;
        text-shadow: 0 0 5px map-get($txt_color, lightshadow);

        @include mw_xs {
            width: 100%;
        }

        li {
            line-height: 24px;
            font-size: 20px;

            @include mw_sm {
                font-size: 16px;
            }

            &+li{
                margin-top: 32px;
            }
        }
    }
}



// 合作夥伴
.partner{
    @include d_f(flex, 0, 0);
    flex-wrap: wrap;
    overflow: hidden;

    li{
        position: relative;
        width: 50%;
        height: 300px;
        opacity: 0.5;

        @include mw_sm{
            width: 100%;
            height: 200px;
        }

        &::before{
            @extend %transition;
            @include pos_a(trbl, 0);
            content: '';
            display: block;
            background: map-get($bg_color, gray_alpha);
            margin: auto;
            pointer-events: none;
        }

        &:nth-child(1){
            background: url(../images/img_partner_bg01.jpg) no-repeat center / cover;
        }

        &:nth-child(2) {
            background: url(../images/img_partner_bg02.jpg) no-repeat center / cover;
        }

        @include hoverHandler{
            &::before{
                opacity: 0;
            }
        }

        a{
            @include d_f(flex, center, center);
            position: relative;
            height: 100%;
            z-index: 2;
        }
    }

}

// 新聞
.news {
    @extend %transition;
    position: relative;
    overflow: hidden;

    // .news__title
    &__title {
        @extend %title;
        margin-bottom: 32px;
    }

    .scrollSlider_area {
        width: 100%;
        overflow: hidden;
    }

    // .news__item
    &__item {
        @extend %transition;
        @include d_f(flex, 0, space-between);
        flex-wrap: wrap;

        // .news__item__txt
        &__txt {
            @extend %hand;
            height: 100%;
            background: map-get($bg_color, black);
            overflow: hidden;

            img {
                @extend %transition;
                display: block;
                margin: auto auto 24px;

                @include mw_xs {
                    margin-bottom: 16px;
                }
            }

            h3 {
                color: map-get($txt_color, white);
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 24px;
                text-align: center;

                @include mw_lg {
                    font-size: 20px;
                }

                @include mw_xs {
                    margin-bottom: 16px;
                }
            }

            p {
                padding: 0 32px 64px;
                line-height: 24px;
                font-size: 16px;
                color: map-get($txt_color, lightgray);
            }

            @include hoverHandler {
                img{
                    transform: scale(1.1);
                }
            }
        }
    }

    // .news__dot
    &__dot {
        text-align: center;

        li {
            @extend %hand;
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 1px solid map-get($bg_color, secondary);
            border-radius: 12px;
            margin: 32px 8px 0;

            &.--on {
                @extend %no_hand;
                background: map-get($bg_color, secondary);
                transform: scale(1.3);
            }

            // 手指效果
            @include hoverHandler {
                background: map-get($bg_color, secondary);
                transform: scale(1.3);
            }
        }
    }
}

.contact {
    background: url(../images/img_contact.jpg) no-repeat center / cover;
    overflow: hidden;

    // .contact__title
    &__title {
        @extend %title;
        color: map-get($txt_color, secondary);
        font-size: 40px;
        margin-bottom: 56px;

        @include mw_sm{
            font-size: 24px;
        }
    }

    // .contact__txt
    &__txt {
        margin-bottom: 64px;

        p{
            line-height: 32px;
            color: map-get($txt_color, white);
            font-size: 20px;
            margin-bottom: 32px;

            @include mw_sm {
                font-size: 16px;
            }
        }
    }

    // .contact__item
    &__item {
        @include d_f(flex, center, space-between);

        @include mw_sm {
            flex-direction: column;
        }

        li {
            @include d_f(flex, center, 0);

            &+li{
                @include mw_sm {
                    margin-top: 32px;
                }
            }
        }

        a {
            @include d_f(flex, center, 0);

            @include mw_sm {
                flex-direction: column;
            }

            @include hoverHandler {
                opacity: .5;
            }
        }

        code {
            color: map-get($txt_color , white);
            white-space: nowrap;

            @include mw_lg{
                font-size: 12px;
            }

            @include mw_sm {
                text-align: center;
                white-space: normal;
            }
        }

        i {
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            filter: brightness(2);

            @include mw_sm {
                width: 30px;
                height: 30px;
                margin: 0 0 16px;
            }
        }
    }

    // .contact__link
    &__link {
        @include d_f(flex, center, center);
        padding: 48px 0 24px;

        li {
            margin: 0 24px;
        }

        i {
            width: 30px;
            height: 30px;

            @include hoverHandler {
                transform: scale(1.5);
            }
        }
    }

    h1 {
        color: map-get($txt_color, black);
        pointer-events: none;
        text-align: center;

        &::after {
            color: map-get($txt_color, primary);
        }
    }

}

// 資訊連結
.link{
    @extend %transition;
    background: map-get($bg_color, gray);
    overflow: hidden;

    // .link__item
    &__item{
        @include d_f(flex, 0, 0);
        flex-wrap: wrap;

        li{
            width: calc(100% / 4);
            filter: grayscale(1);
            text-align: center;
            margin-bottom: 24px;

            &:last-child,
            &:nth-last-child(2){
                margin-bottom: 0;
            }

            @include mw_sm {
                width: calc(100% / 2);
            }
            

            @include hoverHandler{
                filter: grayscale(0);
            }
        }

        a{
            display: block;
            width: 100%;
            height: 100%;
        }

        img{
            width: 80%;
        }
    }
}
