// 動畫
.active_item {
    @extend %transition;
    opacity: 0;
    visibility: collapse;
    transform: translate3d(0, -20%, 0);
    transform-origin: 0 top;
    z-index: 2;
}
.--active {
    >.active_item,
    ~.active_item {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// 字型態
.txt_bold{
    font-weight: bold;
}
.txt_link {
    color: map-get($txt_color , secondary);
    font-weight: bold;

    @include hoverHandler{
        text-decoration: underline;
    }
}

// 常用label組合模組
.labelMd{
    @include d_f(flex);
    position: relative;
    font-size: 14px;
    margin-bottom: 24px;



    // 組件
    // 必填點點
    &.--dot::before{
        @include pos_a(bl, calc(100% - 3px));
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: map-get($bg_color, red);
        border-radius: 100%;
    }

    // 標題
    code {
        @include pos_a(bl, calc(100% + 2px), 0);
        padding: 0 2px;
        font-size: 12px;
        white-space: nowrap;
    }

    // 自製下拉選單選中標題
    .selectTitle{
        @include d_f(flex, center);
        width: 100%;
        height: 100%;
        padding: 0 8px;
    }

    // 勾選物件旁字串
    .txt{
        flex: none;
        white-space: nowrap;
    }

    // icon
    i{
        @extend %hand;
        @include pos_a(tbr, 0);
        flex: none;
        width: 30px;
        height: 30px;

        @include hoverHandler{
            opacity: 0.6;
        }
    }





    // 各種型態
    // 輸入框
    &.--text{
        width: 150px;
        height: 30px;
        background: map-get($bg_color, white);
        border: 1px solid map-get($bg_color, label_br);

        input {
            width: 100%;
            height: 100%;
            padding: 0 8px;
        }

        // 手指效果
        @include hoverHandler {
            border-color: map-get($bg_color, label_br_hv);
        }
    }



    // 下拉選單
    &.--select{
        width: 150px;
        height: 30px;
        background: map-get($bg_color, white);
        border: 1px solid map-get($bg_color, label_br);

        i{
            pointer-events: none;
        }

        &.--active{
            i{
                transform: rotateX(180deg);
            }
        }

        // pc
        ul{
            @include pos_a(tl, calc(100% + 5px), 0);
            width: 100%;
            padding: 8px 0;
            background: map-get($bg_color, white);
            border: 1px solid map-get($bg_color, label_br);

            li{
                padding: 4px 8px;
                background: map-get($bg_color, white);

                // 手指效果
                @include hoverHandler {
                    background: map-get($bg_color, primary);
                }
            }
        }

        // ph
        select{
            width: 100%;
            height: 100%;
            padding: 0 8px;
            font-size: 14px;
        }

        // 手指效果
        @include hoverHandler {
            border-color: map-get($bg_color, label_br_hv);
        }
    }



    // 多選勾勾
    &.--check{
        @extend %hand;
        @include d_f(inline-flex, center, flex-start);
        position: relative;
    
        input {
            display: none;

            &:checked+span::before {
                content: '';
            }
        }
    
        span {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            background: map-get($bg_color, white);
            border: 1px solid map-get($bg_color, label_br);
            margin-right: 8px;
    
            &::before {
                @include pos_a(tl, 2px, 3px);
                display: block;
                width: (18px / 2);
                height: (18px / 3);
                border-width: 0 0 2px 2px;
                border-style: solid;
                border-color: map-get($bg_color, black);
                transform: rotate(-48deg);
            }
        }
    }



    // 單選圈圈
    &.--redio{
        @extend %hand;
        @include d_f(inline-flex, center, flex-start);
    
        input {
            display: none;
        }
    
        span {
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            background: map-get($bg_color, white);
            border: 1px solid map-get($bg_color , label_br);
            border-radius: 100%;
            margin-right: 8px;
    
            &::before {
                @include pos_a(trbl, 0);
                width: calc(100% - 6px);
                height: calc(100% - 6px);
                background: map-get($bg_color, black);
                border-radius: 100%;
                margin: auto;
            }
        }
    
        input:checked+span::before {
            content: '';
        }
    }



    // 多行textarea
    &.--textarea{
        width: 300px;
        height: 150px;
        background: map-get($bg_color, white);
        border: 1px solid map-get($bg_color, label_br);

        textarea{
            width: 100%;
            height: 100%;
            padding: 8px;
        }

        // 手指效果
        @include hoverHandler {
            border-color: map-get($bg_color, label_br_hv);
        }
    }
}



// icon設定
$icon: (
    'arrow',
    'pw_hidden',
    'pw_visible',
);

@each $name in $icon {
    .icon_#{$name} {
        display: inline-block;
        background: url(../images/icon_#{$name}.svg) no-repeat center / contain;
    }
}